[Unit]
Description=Coco Native Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=jerryhsieh2002
WorkingDirectory=/home/jerryhsieh2002/coco-device
ExecStart=/usr/local/bin/coco-native-agent-boot.sh
Restart=on-failure
RestartSec=5
StandardOutput=append:/var/log/coco/agent.log
StandardError=append:/var/log/coco/agent.log

[Install]
WantedBy=multi-user.target
